fastapi
uvicorn
jinja2
requests
python-dotenv
google-api-python-client
pymongo
sentence-transformers
scikit-learn
numpy
transformers
google-genai

CREATE A VENV HAVING ALL THE DEPENDENCIES INSTALLED AND CREATE A .ENV FILE AND USE API KEYS AS BELOW (SAMPLE) :
# YouTube API (Live Comments)
YOUTUBE_API_KEY=

# News API (Articles)
NEWS_API_KEY=

# Gemini API (Comments Summary)
GEMINI_API_KEY=
